<div class="row row-fluid">
        <div class="col-6">
            <div class="d-flex flex-column align-items-center justify-content-start">
                <div></div>
                <div>Name: {{name}}</div>
                <div>Email: {{email}}</div>
                <div>Phone Number: {{phoneNumber}}</div>
                <div>Driving License Number: {{dlNumber}}</div>
                <div></div>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex flex-column align-items-center justify-content-start">
                <div></div>
                <div>Car Model: {{carModel}}</div>
                <div>Car Registration: {{carRegistrationNumber}}</div>
                <div>Car Type/Capacity/Color: {{carType}}/{{carCapacity}}/{{carColor}}</div>
                <div>Insurance Valid Upto: {{insuranceValidUpto}}</div>
                <div></div>
            </div>
        </div>
</div>