{{#> index title="User Dashboard"}}


<div class="page-wrapper p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w960">
        <div class="card card-4">
            <div class="card-body">
                <div class="container-fluid my-5">
                    <h2 class="text-center text-underline mb-3">Your Bookings</h2>
                    <div class="table-responsive">
                        <table class="table table-driver table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Driver Name</th>
                                    <th>Booked For Date</th>
                                    <th>Bill</th>
                                    <th>Status</th>
                                    <th class="text-center">Action</th>
                                    <!--<th class="text-center">Rating</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                {{#each ../Bookings}}
                                <tr>
                                    <td>{{@index}}</td>
                                    <td>{{this.driver.name}}</td>
                                    <td>{{bookingDate}}</td>
                                    <td>{{this.bill}}$</td>
                                    <td>{{this.status}}</td>
                                    <td>
                                        {{#ifEquals this.status "Pending"}}
                                        <form class="form-inline d-flex flex-row justify-content-center"
                                            action="/update-booking" method="POST">
                                            <input type="hidden" value="{{this.bookingId}}" name="bookingId" />
                                            <input type="hidden" value="Rejected" name="newStatus" />
                                            <button class="btn btn-danger">Cancel</button>
                                        </form>
                                        {{/ifEquals}}
                                    </td>
                                    <!--
                                    <td>
                                        {{#ifEquals this.status "Closed"}}
                                        {{#if this.rating}}
                        <div class="text-center">
                            Rating: <span class="text-bold"> {{this.rating}}</span>
                        </div>
                        {{else}}
                        <form class="form-inline d-flex flex-row justify-content-around" action="/rate-booking"
                            method="POST">
                            <input type="hidden" value="{{this.bookingId}}" name="bookingId" />
                            <input type="number" class="form-control" value="3" name="rating" />
                            <button class="btn btn-success">Rate Driver</button>
                        </form>
                        {{/if}}
                                        {{else}}
                                        -
                                        {{/ifEquals}}
                                    </td>
                                    -->
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/index}}