{{#> index title="User Signup"}}

<div class="page-wrapper p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">User Signup</h2>
                <form method="POST" enctype="multipart/form-data">
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Name</label>
                                <input class="input--style-4" type="text" name="name" value="{{../name}}" minlength="5" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" name="email" value="{{../email}}" minlength="5" required>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Password</label>
                                <input class="input--style-4" type="password" name="password" minlength="8" required>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Confirm Password</label>
                                <input class="input--style-4" type="password" name="confirmPassword" minlength="8" required>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Profile Image</label>
                                <input type="file" class="form-control-file" id="profileImage" name="profileImage" required>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Phone Number</label>
                                <input class="input--style-4" type="text" name="phoneNumber" value="{{../phoneNumber}}" minlength="10" maxlength="10" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <!-- <div class="select-dropdown"> -->
                            <label for="areaSelector">Select Area</label>
                            <select required name="areaId" id="areaSelector" value="{{../areaId}}"
                                class="form-control input--style-4">
                                <option disabled="disabled" selected="selected">Choose Area</option>
                                {{#each ../Areas}}
                                <option value="{{this.areaId}}">{{this.areaName}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                    </div>
                </form>
                {{> errors ErrorMessages=../ErrorMessages}}
            </div>
        </div>
    </div>
</div>

{{/index}}